target/classes
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes
target/classes
.svn/wc.db
.svn/pristine/4f/4f11da71e011bea614c76f9e6bb1aa4f7f3599d6.svn-base
.svn/pristine/db/db0bfa89d4dec5048e03979be2ba18fbf47ea0a3.svn-base
target/classes/siette/quimica/Anion.class
target/classes/siette/quimica/Cation.class
target/classes/siette/quimica/Cianuro.class
target/classes/siette/quimica/Compuesto.class
target/classes/siette/quimica/CompuestoBinario.class
target/classes/siette/quimica/CompuestoUnario.class
target/classes/siette/quimica/ConjuntoCompuestos.class
target/classes/siette/quimica/Elemento.class
target/classes/siette/quimica/Formula.class
target/classes/siette/quimica/FormulaException.class
target/classes/siette/quimica/Haluro.class
target/classes/siette/quimica/Hidroxido.class
target/classes/siette/quimica/Hidruro.class
target/classes/siette/quimica/Ion.class
target/classes/siette/quimica/IonAmonio.class
target/classes/siette/quimica/IonCiano.class
target/classes/siette/quimica/IonHidracido.class
target/classes/siette/quimica/IonHidroxido.class
target/classes/siette/quimica/Molecula.class
target/classes/siette/quimica/Oxido.class
target/classes/siette/quimica/Oxoacido.class
target/classes/siette/quimica/Oxoanion.class
target/classes/siette/quimica/Oxosal.class
target/classes/siette/quimica/OxosalPoliatomica.class
target/classes/siette/quimica/PatronQuimica.class
target/classes/siette/quimica/Peroxido.class
target/classes/siette/quimica/Peroxoacido.class
target/classes/siette/quimica/Poliacido.class
target/classes/siette/quimica/Quiette.class
target/classes/siette/quimica/SalAcida.class
target/classes/siette/quimica/SalBinaria.class
target/classes/siette/quimica/TablaPeriodica.class
target/classes/siette/quimica/Tioacido.class
target/classes/siette/util/Combinatoria.class
target/classes/siette/util/Random.class
target/classes/siette/util/RandomException.class
target/classes/siette/util/Roman.class
target/classes/siette/util/corpus/Row.class
target/classes/siette/util/corpus/TableCSV.class
target/classes/siette/util/corpus/TableCSV$1.class
target/classes/siette/util/regex/AF.class
target/classes/siette/util/regex/AFN.class
target/classes/siette/util/regex/AFN$1EstadoCadena.class
target/classes/siette/util/regex/Correspondencia.class
target/classes/siette/util/regex/ExpresionRegular.class
target/classes/siette/util/regex/ExpresionRegular$Parser.class
target/classes/siette/util/regex/ExpresionRegular$Procesador.class
target/classes/siette/util/regex/Magnitud.class
target/classes/siette/util/regex/Patron.class
target/classes/siette/util/regex/Rango.class
target/classes/siette/util/text/HtmlEntitiesMap.class
target/classes/siette/util/text/Strings.class
target/classes/siette/quimica/Anion.class
target/classes/siette/quimica/Cation.class
target/classes/siette/quimica/Cianuro.class
target/classes/siette/quimica/Compuesto.class
target/classes/siette/quimica/CompuestoBinario.class
target/classes/siette/quimica/CompuestoUnario.class
target/classes/siette/quimica/ConjuntoCompuestos.class
target/classes/siette/quimica/Elemento.class
target/classes/siette/quimica/Formula.class
target/classes/siette/quimica/FormulaException.class
target/classes/siette/quimica/Haluro.class
target/classes/siette/quimica/Hidroxido.class
target/classes/siette/quimica/Hidruro.class
target/classes/siette/quimica/Ion.class
target/classes/siette/quimica/IonAmonio.class
target/classes/siette/quimica/IonCiano.class
target/classes/siette/quimica/IonHidracido.class
target/classes/siette/quimica/IonHidroxido.class
target/classes/siette/quimica/Molecula.class
target/classes/siette/quimica/Oxido.class
target/classes/siette/quimica/Oxoacido.class
target/classes/siette/quimica/Oxoanion.class
target/classes/siette/quimica/Oxosal.class
target/classes/siette/quimica/OxosalPoliatomica.class
target/classes/siette/quimica/PatronQuimica.class
target/classes/siette/quimica/Peroxido.class
target/classes/siette/quimica/Peroxoacido.class
target/classes/siette/quimica/Poliacido.class
target/classes/siette/quimica/Quiette.class
target/classes/siette/quimica/SalAcida.class
target/classes/siette/quimica/SalBinaria.class
target/classes/siette/quimica/TablaPeriodica.class
target/classes/siette/quimica/Tioacido.class
target/classes/siette/util/Combinatoria.class
target/classes/siette/util/Random.class
target/classes/siette/util/RandomException.class
target/classes/siette/util/Roman.class
target/classes/siette/util/corpus/Row.class
target/classes/siette/util/corpus/TableCSV.class
target/classes/siette/util/corpus/TableCSV$1.class
target/classes/siette/util/regex/AF.class
target/classes/siette/util/regex/AFN.class
target/classes/siette/util/regex/AFN$1EstadoCadena.class
target/classes/siette/util/regex/Correspondencia.class
target/classes/siette/util/regex/ExpresionRegular.class
target/classes/siette/util/regex/ExpresionRegular$Parser.class
target/classes/siette/util/regex/ExpresionRegular$Procesador.class
target/classes/siette/util/regex/Magnitud.class
target/classes/siette/util/regex/Patron.class
target/classes/siette/util/regex/Rango.class
target/classes/siette/util/text/HtmlEntitiesMap.class
target/classes/siette/util/text/Strings.class
target/classes/siette/util/corpus/Row.class
target/classes/siette/util/corpus/TableCSV.class
target/classes/siette/util/corpus/TableCSV$1.class
target/classes/siette/util/corpus/Row.class
target/classes/siette/util/corpus/TableCSV.class
target/classes/siette/util/corpus/TableCSV$1.class
target/classes/siette/util/regex/AF.class
target/classes/siette/util/regex/AFN.class
target/classes/siette/util/regex/AFN$1EstadoCadena.class
target/classes/siette/util/regex/Correspondencia.class
target/classes/siette/util/regex/ExpresionRegular.class
target/classes/siette/util/regex/ExpresionRegular$Parser.class
target/classes/siette/util/regex/ExpresionRegular$Procesador.class
target/classes/siette/util/regex/Magnitud.class
target/classes/siette/util/regex/Patron.class
target/classes/siette/util/regex/Rango.class
target/classes/siette/util/regex/AF.class
target/classes/siette/util/regex/AFN.class
target/classes/siette/util/regex/AFN$1EstadoCadena.class
target/classes/siette/util/regex/Correspondencia.class
target/classes/siette/util/regex/ExpresionRegular.class
target/classes/siette/util/regex/ExpresionRegular$Parser.class
target/classes/siette/util/regex/ExpresionRegular$Procesador.class
target/classes/siette/util/regex/Magnitud.class
target/classes/siette/util/regex/Patron.class
target/classes/siette/util/regex/Rango.class
target/classes/siette/util/text/HtmlEntitiesMap.class
target/classes/siette/util/text/Strings.class
target/classes/siette/util/text/HtmlEntitiesMap.class
target/classes/siette/util/text/Strings.class
target/classes/siette/util/Combinatoria.class
target/classes/siette/util/Random.class
target/classes/siette/util/RandomException.class
target/classes/siette/util/Roman.class
target/test-classes/siette/quimica/CianuroTest.class
target/test-classes/siette/quimica/CompuestoTest.class
target/test-classes/siette/quimica/CompuestoUnarioTest.class
target/test-classes/siette/quimica/HaluroTest.class
target/test-classes/siette/quimica/HidroxidoTest.class
target/test-classes/siette/quimica/HidruroTest.class
target/test-classes/siette/quimica/OxidoTest.class
target/test-classes/siette/quimica/OxoacidoTest.class
target/test-classes/siette/quimica/OxosalPoliatomicaTest.class
target/test-classes/siette/quimica/OxosalTest.class
target/test-classes/siette/quimica/PeroxidoTest.class
target/test-classes/siette/quimica/PeroxoacidoTest.class
target/test-classes/siette/quimica/PoliacidoTest.class
target/test-classes/siette/quimica/SalAcidaTest.class
target/test-classes/siette/quimica/SalBinariaTest.class
target/test-classes/siette/quimica/TablaPeriodicaTest.class
target/test-classes/siette/quimica/TestCase.class
target/test-classes/siette/quimica/TioacidoTest.class
target/test-classes/siette/quimica/CianuroTest.class
target/test-classes/siette/quimica/CompuestoTest.class
target/test-classes/siette/quimica/CompuestoUnarioTest.class
target/test-classes/siette/quimica/HaluroTest.class
target/test-classes/siette/quimica/HidroxidoTest.class
target/test-classes/siette/quimica/HidruroTest.class
target/test-classes/siette/quimica/OxidoTest.class
target/test-classes/siette/quimica/OxoacidoTest.class
target/test-classes/siette/quimica/OxosalPoliatomicaTest.class
target/test-classes/siette/quimica/OxosalTest.class
target/test-classes/siette/quimica/PeroxidoTest.class
target/test-classes/siette/quimica/PeroxoacidoTest.class
target/test-classes/siette/quimica/PoliacidoTest.class
target/test-classes/siette/quimica/SalAcidaTest.class
target/test-classes/siette/quimica/SalBinariaTest.class
target/test-classes/siette/quimica/TablaPeriodicaTest.class
target/test-classes/siette/quimica/TestCase.class
target/test-classes/siette/quimica/TioacidoTest.class
target/classes/siette/util/Combinatoria.class
target/classes/siette/util/Random.class
target/classes/siette/util/RandomException.class
target/classes/siette/util/Roman.class
target/classes/siette/util/corpus/Row.class
target/classes/siette/util/corpus/TableCSV.class
target/classes/siette/util/corpus/TableCSV$1.class
target/classes/siette/util/regex/AF.class
target/classes/siette/util/regex/AFN.class
target/classes/siette/util/regex/AFN$1EstadoCadena.class
target/classes/siette/util/regex/Correspondencia.class
target/classes/siette/util/regex/ExpresionRegular.class
target/classes/siette/util/regex/ExpresionRegular$Parser.class
target/classes/siette/util/regex/ExpresionRegular$Procesador.class
target/classes/siette/util/regex/Magnitud.class
target/classes/siette/util/regex/Patron.class
target/classes/siette/util/regex/Rango.class
target/classes/siette/util/text/HtmlEntitiesMap.class
target/classes/siette/util/text/Strings.class
target/classes/siette/quimica/Anion.class
target/classes/siette/quimica/Cation.class
target/classes/siette/quimica/Cianuro.class
target/classes/siette/quimica/Compuesto.class
target/classes/siette/quimica/CompuestoBinario.class
target/classes/siette/quimica/CompuestoUnario.class
target/classes/siette/quimica/ConjuntoCompuestos.class
target/classes/siette/quimica/Elemento.class
target/classes/siette/quimica/Formula.class
target/classes/siette/quimica/FormulaException.class
target/classes/siette/quimica/Haluro.class
target/classes/siette/quimica/Hidroxido.class
target/classes/siette/quimica/Hidruro.class
target/classes/siette/quimica/Ion.class
target/classes/siette/quimica/IonAmonio.class
target/classes/siette/quimica/IonCiano.class
target/classes/siette/quimica/IonHidracido.class
target/classes/siette/quimica/IonHidroxido.class
target/classes/siette/quimica/Molecula.class
target/classes/siette/quimica/Oxido.class
target/classes/siette/quimica/Oxoacido.class
target/classes/siette/quimica/Oxoanion.class
target/classes/siette/quimica/Oxosal.class
target/classes/siette/quimica/OxosalPoliatomica.class
target/classes/siette/quimica/PatronQuimica.class
target/classes/siette/quimica/Peroxido.class
target/classes/siette/quimica/Peroxoacido.class
target/classes/siette/quimica/Poliacido.class
target/classes/siette/quimica/Quiette.class
target/classes/siette/quimica/SalAcida.class
target/classes/siette/quimica/SalBinaria.class
target/classes/siette/quimica/TablaPeriodica.class
target/classes/siette/quimica/Tioacido.class
target/classes/siette/util/Combinatoria.class
target/classes/siette/util/Random.class
target/classes/siette/util/RandomException.class
target/classes/siette/util/Roman.class
target/classes/siette/util/corpus/Row.class
target/classes/siette/util/corpus/TableCSV.class
target/classes/siette/util/corpus/TableCSV$1.class
target/classes/siette/util/regex/AF.class
target/classes/siette/util/regex/AFN.class
target/classes/siette/util/regex/AFN$1EstadoCadena.class
target/classes/siette/util/regex/Correspondencia.class
target/classes/siette/util/regex/ExpresionRegular.class
target/classes/siette/util/regex/ExpresionRegular$Parser.class
target/classes/siette/util/regex/ExpresionRegular$Procesador.class
target/classes/siette/util/regex/Magnitud.class
target/classes/siette/util/regex/Patron.class
target/classes/siette/util/regex/Rango.class
target/classes/siette/util/text/HtmlEntitiesMap.class
target/classes/siette/util/text/Strings.class
target/test-classes/siette/quimica/CianuroTest.class
target/test-classes/siette/quimica/CompuestoTest.class
target/test-classes/siette/quimica/CompuestoUnarioTest.class
target/test-classes/siette/quimica/HaluroTest.class
target/test-classes/siette/quimica/HidroxidoTest.class
target/test-classes/siette/quimica/HidruroTest.class
target/test-classes/siette/quimica/OxidoTest.class
target/test-classes/siette/quimica/OxoacidoTest.class
target/test-classes/siette/quimica/OxosalPoliatomicaTest.class
target/test-classes/siette/quimica/OxosalTest.class
target/test-classes/siette/quimica/PeroxidoTest.class
target/test-classes/siette/quimica/PeroxoacidoTest.class
target/test-classes/siette/quimica/PoliacidoTest.class
target/test-classes/siette/quimica/SalAcidaTest.class
target/test-classes/siette/quimica/SalBinariaTest.class
target/test-classes/siette/quimica/TablaPeriodicaTest.class
target/test-classes/siette/quimica/TestCase.class
target/test-classes/siette/quimica/TioacidoTest.class
.svn/wc.db-journal
.gitignore
.svn/entries
.svn/format
.svn/wc.db-journal
.svn/pristine/00/00e172d79c6cf860da89ac7bf85e26d5fd35eef4.svn-base
.svn/pristine/03/03a386a58eca05430de0c78c391bd1d485e21296.svn-base
.svn/pristine/04/04f9bd410a8f19cda52ac6c3ccb5556994889f93.svn-base
.svn/pristine/05/05ad60c0b5fb730e2bc704edda37da7f48ff230b.svn-base
.svn/pristine/05/0539b9522b6956ac208473cdc9e3d2e243e415e2.svn-base
.svn/pristine/07/0775ef37ef7251fb58b3a4c0ed7f8277e911cc42.svn-base
.svn/pristine/08/0819b019fb4211ec24ca3bd2b6913cfc7b433694.svn-base
.svn/pristine/08/08664e9bc818f7b173a0635e2d31643003349fb9.svn-base
.svn/pristine/0c/0c96a7a7ff59e75e870eaabd0787157afcf49e6b.svn-base
.svn/pristine/0d/0d3cb210e5555fc83dc70d1edf85dd0993cabf9f.svn-base
.svn/pristine/0e/0e56cd8df239794f8575001f329d81f7e084d39e.svn-base
.svn/pristine/0e/0eec4215d35c22798a665a71a435dacaec0f4f11.svn-base
.svn/pristine/10/1087001a1abf80b6ce2ba8df0c9fa7dd9efb7577.svn-base
.svn/pristine/11/11b82e1885f070844ed3c6e930af7e531cf2b6ac.svn-base
.svn/pristine/11/111d3c820c64fb9c14ea390a3d8a38bd9266d4b8.svn-base
.svn/pristine/11/110235a59d7d60688896758d6452ea2b01758212.svn-base
.svn/pristine/13/13d06326cd092d2421a6b96d5dd5f64df39faed6.svn-base
.svn/pristine/16/16fdb783193e66f23e012cab8818291bbced26d4.svn-base
.svn/pristine/17/178d95164b160a01f4fcdb0097d6da394a2413ef.svn-base
.svn/pristine/19/19e8a98f719acbd42c7e44461eadc07fa74e13d5.svn-base
.svn/pristine/1c/1caa7598cc61b0e4bf3c5e14e5def487a2f4a05c.svn-base
.svn/pristine/1d/1dda9542aaced851dfcafb42f107f74eca73dc29.svn-base
.svn/pristine/1e/1e16d497b40f33a7dfa15b448ffdad9c5764c0d1.svn-base
.svn/pristine/1e/1e21016fa8ceff1cc368b0a260e3c6a8aecd36ff.svn-base
.svn/pristine/27/270574b25bc6c081093d96f37aa13e74c8d9570a.svn-base
.svn/pristine/27/2765703476e846eb228108f96d3c5c4f78dfca1f.svn-base
.svn/pristine/2c/2c62dbbd4518a44e7e3e8d0653a0d622d1a9b7c0.svn-base
.svn/pristine/2e/2ef29aa4687cd8ff4b666c8f3515b35c28179934.svn-base
.svn/pristine/30/3036d023bcb0a188eeb3850217fc29d9bf70206c.svn-base
.svn/pristine/32/326819a4f6e4956c11efc67cbac940058c797e81.svn-base
.svn/pristine/34/34f21c6d0b480f9b97f0ec6a2553b4db0b5eb3e8.svn-base
.svn/pristine/35/35cce574492e0c0394d0e8c5f31d8c129a25dda6.svn-base
.svn/pristine/36/3650f0e05647426cdf3875d399693dfa31ef4a07.svn-base
.svn/pristine/3a/3a57900669ae33b2cf18601ddd0a4995b163c6a3.svn-base
.svn/pristine/3c/3cbb2f35ed86965a4a388b7438e3718e8845b841.svn-base
.svn/pristine/3e/3e3f6d57d0e904529fc54162fc8eafbc51d0cde8.svn-base
.svn/pristine/3e/3ea9fe6a77731245be17a782648d8b75377ddb0e.svn-base
.svn/pristine/3e/3ed2d4745960dcd55f11ccbb819fd3af19ecd196.svn-base
.svn/pristine/3f/3ff336aaa7fbfabdd66570fc5e4c175a25740d62.svn-base
.svn/pristine/41/41ea225f09480d706126147532847a36823c7fd8.svn-base
.svn/pristine/43/43f351f0ca4e807741980ba8df6fd2363afee048.svn-base
.svn/pristine/44/44b9e6440d161dc735917c5d7356dd36aa690d04.svn-base
.svn/pristine/45/4591a0b32d080b2d8af777c24bf5001556c17d03.svn-base
.svn/pristine/46/46e1c6ea213f5b0a4960560a5b3db5c845cd7279.svn-base
.svn/pristine/48/48b8f73f41698ee814d22f84d361770e84875a62.svn-base
.svn/pristine/4b/4bbfaf2239fabac1f236fcde0c859068dc1dbd23.svn-base
.svn/pristine/4c/4c99ab73cc2af77e7a5d7988240c26d08fa07918.svn-base
.svn/pristine/4d/4d43dfce58ff34a9d7f2fa47f747a738cde8320c.svn-base
.svn/pristine/4e/4ea6d0d7bfaa993602f3ce69e0b2774d684d2b69.svn-base
.svn/pristine/4f/4f29379ee6d6b9a7207a2d319b4e2b39ac8927c7.svn-base
.svn/pristine/51/516bff8f3dfbf419314098638c670274d94881f3.svn-base
.svn/pristine/54/54c1349086bde9f5bdccf8bb8b27e03844f6d2d1.svn-base
.svn/pristine/54/54dc6caab1a600a5a8673497b3a014852b44e97b.svn-base
.svn/pristine/57/5792d395422bef74cbc649a15533347ffd95dbf2.svn-base
.svn/pristine/5b/5bd47d98c062d284a9152d27a5b4185f6b34ff51.svn-base
.svn/pristine/5c/5c1df7ef1d0e47dd1387f67274ef7b4248830934.svn-base
.svn/pristine/5f/5f8de842b04b4520ee1caa24d4a099dbc12de7c4.svn-base
.svn/pristine/5f/5ffe1802897dc5fca01e2f6c30977744f1eef7b1.svn-base
.svn/pristine/62/62ab89a4e56d3468fb8b6f8749b5b120c94a791a.svn-base
.svn/pristine/66/66d9167562bc337e3eccec3f272c1c8b8ec256bb.svn-base
.svn/pristine/67/676c9e9223874d3a0f060f3aa522e5596c27664b.svn-base
.svn/pristine/68/68e93517b455a18b53868dbe2406443b2e95dd72.svn-base
.svn/pristine/6a/6a2cb1860ef02eab7a224db915a871e07f928b84.svn-base
.svn/pristine/6c/6cc5940835e98f483a81ad2eb4ab1b7bb9a561a0.svn-base
.svn/pristine/6d/6dccb725dc4b55d5b706d4c2391f783155432c50.svn-base
.svn/pristine/6e/6e012bb1b81bae18476b08a3ac78e8128bfddb16.svn-base
.svn/pristine/70/70151c7b21f69a324fa07ac4d0d7fca84a029722.svn-base
.svn/pristine/79/7912754944b37889741b9983f8aba16050e22385.svn-base
.svn/pristine/7c/7c4bea8100a1efcde8315eca12bf4f42cecb4aa3.svn-base
.svn/pristine/81/81aa06e621454ec33cd1ef0b149eb1dfcff30bf1.svn-base
.svn/pristine/84/84d7d8d247854c6e661531417f508e69eb218e7e.svn-base
.svn/pristine/84/846c75b2746fcff2ca8622083906a41b15ccc6a6.svn-base
.svn/pristine/84/8423ff1a2debcc5a8607faf2b4aea5ac2d93f64f.svn-base
.svn/pristine/86/86b9eb32b71d51cde5dbfc65e187678600d062ad.svn-base
.svn/pristine/87/87df41beacf841f2ea77f9cad85c2457d35505cf.svn-base
.svn/pristine/88/8891a6be6cc06b525c564dd029e47c8a1d6e90f0.svn-base
.svn/pristine/88/88416c7155d462cf46a315950bd29dece4019513.svn-base
.svn/pristine/8b/8bba96f006293da8d18c2cd882410bc935402a9a.svn-base
.svn/pristine/8c/8cbd05a6854b6244976254946f9aecce2c586f68.svn-base
.svn/pristine/8e/8e9906078e5c74171fa32dd03a2c6e4e5e4cac8b.svn-base
.svn/pristine/91/91be015504b0ffb407124bae5e911e14b080bff5.svn-base
.svn/pristine/95/95786aae3f6d3dadae0794bf886553f4e8206d19.svn-base
.svn/pristine/96/96b49c7ce6e469da0ea6f2a6e6efe6145d24d079.svn-base
.svn/pristine/96/96781a1095a821f4a5d0b802de11d3981c015e3b.svn-base
.svn/pristine/97/97b3ccba0e7ccb4aa8b9bc0f52f3f789c5e1d866.svn-base
.svn/pristine/9a/9ac239c07f969817c0ff10487c029d0f14410f7d.svn-base
.svn/pristine/9b/9b05df39393acd8543b3c1297745b05a0186c039.svn-base
.svn/pristine/9b/9bc12a2d52db73da2e4980dd8aa8774727d59833.svn-base
.svn/pristine/9e/9e44b3b9aec35b63483e9d1f149ada3180509fc9.svn-base
.svn/pristine/9e/9e697dc95ead9253c2fb3e72f6223fbad7796072.svn-base
.svn/pristine/9f/9fbe51949bfbb6734bdd9c3b3344b77339a621bf.svn-base
.svn/pristine/a2/a2b33794f061a369ddd90167d7892635d3aba31a.svn-base
.svn/pristine/a4/a45251a2872dbcd9291fb5a8298365f207396133.svn-base
.svn/pristine/ab/abd418d84df0cd40b941edb9b739dd8e0776a2f9.svn-base
.svn/pristine/ad/adf9d5f0ee102ef204e68c047019031fb4d50cd3.svn-base
.svn/pristine/af/afc64405f8f52ff7baae57aaaee3dac22888da7d.svn-base
.svn/pristine/b7/b7c827df58792c370d25f00d18d64391622b561c.svn-base
.svn/pristine/b8/b8ec721177a7ae798282a9dbc02267c427246f91.svn-base
.svn/pristine/b8/b89dd652544703c36710a6c3efb98835d1188f74.svn-base
.svn/pristine/b9/b9911d3e4a4e84bdb8ad6fa478220a20fdaf2e53.svn-base
.svn/pristine/bb/bb2a8ae7bcdaca275eacc698ace4eab1765fb37d.svn-base
.svn/pristine/bb/bb46ff48cb387732741eed0924b34b27aed77b4d.svn-base
.svn/pristine/bb/bb23454d78e4f12efc6854818f9fcef37db870a5.svn-base
.svn/pristine/bb/bbace2a09298018d887f746e8b1264e0866a6bf9.svn-base
.svn/pristine/bc/bc09f6d1d80818f9252941d01d7d933e8cce0042.svn-base
.svn/pristine/bc/bcf04b75b7556272dbf2b24f43e91ec23826c717.svn-base
.svn/pristine/be/be276234714146f97063a9e6e9b9d450bf8a829e.svn-base
.svn/pristine/bf/bfd0a955b56bcd186fe53a0af52b1db45bce0555.svn-base
.svn/pristine/c1/c1c452cd5e811bd6252556792c7af10ff295cbd4.svn-base
.svn/pristine/c2/c2fc298f7fc79cb91463a4890d2030093f88f06c.svn-base
.svn/pristine/c3/c3d4e3a367c3900235ab855bb547ff03969ab6e3.svn-base
.svn/pristine/c3/c323005c013013397fee06160e263baae491a02c.svn-base
.svn/pristine/c6/c61fa9dbd8af3857b86f532c2aa60a71c3c1f072.svn-base
.svn/pristine/c8/c88d8742b83ba39a72f863417c940d6129b85fda.svn-base
.svn/pristine/c8/c8423c8653ee71269974ec6f0c7629a5da5c98b8.svn-base
.svn/pristine/c8/c824823cafa624514e03811c620343559b067a63.svn-base
.svn/pristine/d3/d302f265292fefbbe8fad3f68aa591641c5e0f7c.svn-base
.svn/pristine/d3/d346a0c520efc71a64500996b7adbb72bfb21cb5.svn-base
.svn/pristine/d4/d425a5544db16e88749bd9a469c54bf12d2a42aa.svn-base
.svn/pristine/d7/d779929dc5ad84c55a9c6ce2247fc90739f1f7ab.svn-base
.svn/pristine/d9/d9cd771f417e4a0e6ffdd59a0da4ecb147be8437.svn-base
.svn/pristine/d9/d9f5958463a3caa8f79fdc1c29b36905d172f4b7.svn-base
.svn/pristine/d9/d95244c3f6ee741e0ce9a759f8883291416d15d4.svn-base
.svn/pristine/da/da58fe76425430a58371feeec93d6dd0b09d6787.svn-base
.svn/pristine/da/da7276c144b6a907a0b6f063f936d774535eae85.svn-base
.svn/pristine/db/db38db9e45d037d935e486d0773344b88cb03ba5.svn-base
.svn/pristine/dc/dc126c9557e30458431dd727e669680364c76b20.svn-base
.svn/pristine/dc/dcd6eabe7b8a0da9f5a244a0304a360196c755db.svn-base
.svn/pristine/e3/e346c976f4c2f7025590d1bd97c08bb73e4fb22f.svn-base
.svn/pristine/e6/e6f905a31d6f635a9def209f4fb9256fd9955818.svn-base
.svn/pristine/e7/e7bb9f23fb302a5bf39394b5f4904d47da876748.svn-base
.svn/pristine/e7/e7df5802c9904da610ee4bf100aa869deec94cf5.svn-base
.svn/pristine/e7/e79b6cbf54612ce092103395d6c90d38b5936ece.svn-base
.svn/pristine/e8/e87563051d6d33daa757665e474c6abc0f88d25a.svn-base
.svn/pristine/ea/ea7ef4e3d11c879d2b18fa5a53e8a8e4073a3b3b.svn-base
.svn/pristine/ea/ea77c1552d300793b5466465130b89de6d238cd8.svn-base
.svn/pristine/ea/ea1787237b922ab76cb3900787a516569c1a576b.svn-base
.svn/pristine/ef/ef5501362043fdd2b0652c097443ca3aec5bfd8b.svn-base
.svn/pristine/f2/f2e64836c3ab190f1345b877835490d6ef5b0a90.svn-base
.svn/pristine/f2/f219a14f81e02fecfaea9e0f911a79d307e82a49.svn-base
.svn/pristine/f5/f5935583f611ecc212c9f19ed020de00ecf2d787.svn-base
.svn/pristine/f9/f99f5ff4cc7abb71b87feabc1aee63bdbe631469.svn-base
.svn/pristine/fa/fadce48649b693e84be1553858399d0657dd442b.svn-base
.svn/pristine/fb/fb670df59bc1d2b1934fddae2e9a03cd06897b3b.svn-base
.svn/pristine/fb/fbd871d3a28c572c536f4bc05d66dfd90c35ea8f.svn-base
.svn/pristine/fc/fcb4d19c9242e258c4d7015f5edc75e0eda59ada.svn-base
.svn/pristine/fd/fdedc261493d26713963019f154e3b661592ad15.svn-base
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.vscode/launch.json
.vscode/settings.json
.svn/wc.db-journal
.svn/pristine/af/afcca53319ac57f5003a6a00ad6206687e1b8224.svn-base
.DS_Store
